Source: consult
Priority: optional
Maintainer: Rémi Palancher <remi-externe.palancher@edf.fr>
Build-Depends:
 debhelper (>= 9)
X-Python-Version: >= 2.7
Standards-Version: 3.9.6
Section: admin
Vcs-Browser: https://github.com/edf-hpc/consult
Vcs-Git: https://github.com/edf-hpc/consult.git

Package: consult
Architecture: all
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 python,
 python-requests
Suggests:
 consul
Description: Utility to monitor state of a Consul cluster
 This package contains the consult utility which discovers the nodes and
 services of a consul cluster and monitor their state. It provides a CLI with
 shiny ANSI colors to give a quick overview of the cluster state to the
 sysadmins.
